<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>TT-Data</h1>
    <p>~卓球データ分析ツール~</p>
    <%= link_to "プロ選手の試合データを見る", "#" %>
    <br>
    <%= link_to "新規登録", new_user_path %>
    <br>
    <%= link_to "ログイン", login_path %>

    <br>
    <%= link_to "自分の試合をデータ分析する", new_user_path %>
  </div>
</div>