<div class="container pt-3">
  <div class="row">
    <div class="col-12">
    <h3><%= t('.title') %></h3>
      <div class="row">
        <% if @usergames.present? %>
          <%= render @usergames %>
        <% else %>
          <p>試合がありません。</p>
        <% end %>
      </div>
    <%= link_to (t '.to_me_page'), new_game_path %>
    </div>
  </div>
</div>